wsdl/simiV5/simiService.wsdl

        <!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.  -->
        <!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown.  -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://emias.mos.ru/simi/simiService/v5/" xmlns:cet="http://emias.mos.ru/simi/simiService/v5/types/" xmlns:uctx="http://emias.mos.ru/system/v1/userContext/" xmlns:nsf="http://emias.mos.ru/system/v1/faults/" name="simiService" targetNamespace="http://emias.mos.ru/simi/simiService/v5/">
    <documentation>Сервис SimiService с объектной моделью Document v5</documentation>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://emias.mos.ru/system/v1/userContext/" schemaLocation="http://10.222.222.75:8080/Simi2Soap/SimiService/v5/Endpoint?xsd=3"/>
            <xsd:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="http://10.222.222.75:8080/Simi2Soap/SimiService/v5/Endpoint?xsd=2"/>
            <xsd:import namespace="http://emias.mos.ru/simi/faults/v5/" schemaLocation="http://10.222.222.75:8080/Simi2Soap/SimiService/v5/Endpoint?xsd=8"/>
            <xsd:import namespace="http://emias.mos.ru/simi/simiService/v5/types/" schemaLocation="http://10.222.222.75:8080/Simi2Soap/SimiService/v5/Endpoint?xsd=10"/>
        </xsd:schema>
    </types>
    <message name="userContext">
        <documentation>Контекст пользователя</documentation>
        <part name="userContext" element="uctx:userContext"/>
    </message>
    <message name="fault">
        <documentation>Ошибка</documentation>
        <part name="fault" element="nsf:fault"/>
    </message>
    <message name="deprecateDocumentInput">
        <part name="parameters" element="cet:deprecateDocumentRequest"/>
    </message>
    <message name="deprecateDocumentOutput">
        <part name="parameters" element="cet:deprecateDocumentResponse"/>
    </message>
    <message name="getCareEventDocumentsInput">
        <part name="parameters" element="cet:getCareEventDocumentsRequest"/>
    </message>
    <message name="getCareEventDocumentsOutput">
        <part name="parameters" element="cet:getCareEventDocumentsResponse"/>
    </message>
    <message name="saveDocumentInput">
        <part name="parameters" element="cet:saveDocumentRequest"/>
    </message>
    <message name="saveDocumentOutput">
        <part name="parameters" element="cet:saveDocumentResponse"/>
    </message>
    <message name="archiveDocumentInput">
        <part name="parameters" element="cet:archiveDocumentRequest"/>
    </message>
    <message name="archiveDocumentOutput">
        <part name="parameters" element="cet:archiveDocumentResponse"/>
    </message>
    <message name="searchDocumentsInput">
        <part name="parameters" element="cet:searchDocumentsRequest"/>
    </message>
    <message name="searchDocumentsOutput">
        <part name="parameters" element="cet:searchDocumentsResponse"/>
    </message>
    <message name="getDocumentInput">
        <part name="parameters" element="cet:getDocumentRequest"/>
    </message>
    <message name="getDocumentOutput">
        <part name="parameters" element="cet:getDocumentResponse"/>
    </message>
    <message name="getAuditRecordsInput">
        <part name="parameters" element="cet:getAuditRecordsRequest"/>
    </message>
    <message name="getAuditRecordsOutput">
        <part name="parameters" element="cet:getAuditRecordsResponse"/>
    </message>
    <message name="createDocumentInput">
        <part name="parameters" element="cet:createDocumentRequest"/>
    </message>
    <message name="createDocumentOutput">
        <part name="parameters" element="cet:createDocumentResponse"/>
    </message>
    <message name="getCareEventDocumentsForSignInput">
        <part name="parameters" element="cet:getCareEventDocumentsForSignRequest"/>
    </message>
    <message name="getCareEventDocumentsForSignOutput">
        <part name="parameters" element="cet:getCareEventDocumentsForSignResponse"/>
    </message>
    <message name="getDocumentsByPatientForSignInput">
        <part name="parameters" element="cet:getDocumentsByPatientForSignRequest"/>
    </message>
    <message name="getDocumentsByPatientForSignOutput">
        <part name="parameters" element="cet:getDocumentsByPatientForSignResponse"/>
    </message>
    <message name="getDocumentsForSignInput">
        <part name="parameters" element="cet:getDocumentsForSignRequest"/>
    </message>
    <message name="getDocumentsForSignOutput">
        <part name="parameters" element="cet:getDocumentsForSignResponse"/>
    </message>
    <portType name="simiServicePortType">
        <operation name="deprecateDocument">
            <documentation> Аннулирование документов </documentation>
            <input name="deprecateDocumentInput" message="tns:deprecateDocumentInput"/>
            <output name="deprecateDocumentOutput" message="tns:deprecateDocumentOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="getCareEventDocuments">
            <documentation> Получение документов по событию </documentation>
            <input name="getCareEventDocumentsInput" message="tns:getCareEventDocumentsInput"/>
            <output name="getCareEventDocumentsOutput" message="tns:getCareEventDocumentsOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="saveDocument">
            <documentation> Сохранение документа </documentation>
            <input name="saveDocumentInput" message="tns:saveDocumentInput"/>
            <output name="saveDocumentOutput" message="tns:saveDocumentOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="archiveDocument">
            <documentation> Архивирование документов </documentation>
            <input name="archiveDocumentInput" message="tns:archiveDocumentInput"/>
            <output name="archiveDocumentOutput" message="tns:archiveDocumentOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="searchDocuments">
            <documentation> Выборка документов </documentation>
            <input name="searchDocumentsInput" message="tns:searchDocumentsInput"/>
            <output name="searchDocumentsOutput" message="tns:searchDocumentsOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="getDocument">
            <documentation> Получение документа </documentation>
            <input name="getDocumentInput" message="tns:getDocumentInput"/>
            <output name="getDocumentOutput" message="tns:getDocumentOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="getAuditRecords">
            <documentation> Получение записей об аудите </documentation>
            <input name="getAuditRecordsInput" message="tns:getAuditRecordsInput"/>
            <output name="getAuditRecordsOutput" message="tns:getAuditRecordsOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="createDocument">
            <documentation> Создание документа </documentation>
            <input name="createDocumentInput" message="tns:createDocumentInput"/>
            <output name="createDocumentOutput" message="tns:createDocumentOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="getCareEventDocumentsForSign">
            <documentation> Получение документов для подписания по клиническому событию </documentation>
            <input name="getCareEventDocumentsForSignInput" message="tns:getCareEventDocumentsForSignInput"/>
            <output name="getCareEventDocumentsForSignOutput" message="tns:getCareEventDocumentsForSignOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="getDocumentsByPatientForSign">
            <documentation> Получение документов для подписания по пациенту </documentation>
            <input name="getDocumentsByPatientForSignInput" message="tns:getDocumentsByPatientForSignInput"/>
            <output name="getDocumentsByPatientForSignOutput" message="tns:getDocumentsByPatientForSignOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
        <operation name="getDocumentsForSign">
            <documentation> Получение документов для подписания по идентификаторам </documentation>
            <input name="getDocumentsForSignInput" message="tns:getDocumentsForSignInput"/>
            <output name="getDocumentsForSignOutput" message="tns:getDocumentsForSignOutput"/>
            <fault name="fault" message="tns:fault"/>
        </operation>
    </portType>
    <binding name="simiServiceBinding" type="tns:simiServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="deprecateDocument">
            <soap12:operation soapAction="deprecateDocument"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getCareEventDocuments">
            <soap12:operation soapAction="getCareEventDocuments"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="saveDocument">
            <soap12:operation soapAction="saveDocument"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="archiveDocument">
            <soap12:operation soapAction="archiveDocument"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="searchDocuments">
            <soap12:operation soapAction="searchDocuments"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getDocument">
            <soap12:operation soapAction="getDocument"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getAuditRecords">
            <soap12:operation soapAction="getAuditRecords"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="createDocument">
            <soap12:operation soapAction="createDocument"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getCareEventDocumentsForSign">
            <soap12:operation soapAction="getCareEventDocumentsForSign"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getDocumentsByPatientForSign">
            <soap12:operation soapAction="getDocumentsByPatientForSign"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getDocumentsForSign">
            <soap12:operation soapAction="getDocumentsForSign"/>
            <input>
                <soap12:header message="tns:userContext" part="userContext" use="literal"/>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="fault">
                <soap12:fault name="fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service xmlns:wsp="http://www.w3.org/ns/ws-policy" name="simiService">
        <port name="simiServicePort" binding="tns:simiServiceBinding">
            <soap12:address location="http://10.222.222.75:8080/Simi2Soap/SimiService/v5/Endpoint"/>
            <wsp:PolicyReference URI="#authPolicy"/>
        </port>
    </service>
    <wsp:Policy xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="authPolicy">
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp:Policy>
                <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp:Policy>
                        <sp:NoPassword/>
                    </wsp:Policy>
                </sp:UsernameToken>
            </wsp:Policy>
        </sp:SupportingTokens>
    </wsp:Policy>
</definitions>